
    // background-image: var(--urlBackgroundImg);
    // background-repeat: no-repeat;
    // background-size: contain;

:root{
    --urlBackgroundImg:url(../../../assets/loginPages/bg-image-overlay.png)
}


.forgotPasswordDiv {
    display: flex;
    flex-flow: row   wrap;
    align-items: stretch;
    align-content: stretch;
    height: 100vh;
    width: 100vw;
    .forgotText{
        background-image:var(--urlBackgroundImg);
        color: white;
        background-repeat: no-repeat;
        background-size: 100vw 100vh;
        flex:1 0 auto;
        align-self: stretch;
        overflow: hidden;
        font-family: Bruno Ace;
        font-style: normal;
        font-weight: normal;
        padding:2rem;
        // font-size: 64px;
        // line-height: 77px;
        /* monitor HD */

        @media (min-width: 320px) { 
            font-size: 2rem;
            line-height: 2rem;

        }

        @media (min-width: 480px) { 
            font-size: 10rem;
            line-height: 1rem;

        }

        // Small devices (landscape phones, 576px and up)
        @media (min-width: 576px) { 
            font-size: 2rem;
            line-height: 5rem;

        }

        // Medium devices (tablets, 768px and up)
        @media (min-width: 768px) { 
            font-size: 35px;
            line-height: 42px;

        }

        // Large devices (desktops, 992px and up)
        @media (min-width: 992px) { 
            font-size: 45px;
            line-height: 52px;    

         }

        // Extra large devices (large desktops, 1200px and up)
        @media (min-width: 1200px) { 
            font-size: 64px;
            line-height: 77px;    

         }

    
         

        .title{
            padding-top: 200px;;
            text-align: center;
            margin: auto;
        }
    }   
        
    .forgotPasswordForm {
        background-color: white;
        color: black;
        flex:1 0 auto;
        align-self: stretch;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        padding: 40px;
        width: 500px;
        border-radius: 10px;

        .pageTitle {
            font-size: 1.5rem;
            padding-bottom: 0;
        }

        .subTitle {
            font-size: 0.8rem;
            margin-bottom: 20px;
        }

        .formGroup {
            margin-bottom: 30px;
        }
   }
}
