
    // background-image: var(--urlBackgroundImg);
    // background-repeat: no-repeat;
    // background-size: contain;

:root{
    --urlBackgroundImg:url(../../../assets/loginPages/bg-image-overlay.png);
}


.forgotPasswordDiv {
    display: flex;
    flex-flow: row   wrap;
    height: 100vh;
    width: 100vw;
    padding-top: 100px; // delete if delete a top nav
    .forgotText{
        flex:1 1 500px;
        align-self: stretch;
        overflow: hidden;
        font-family: Bruno Ace;
        font-style: normal;
        font-weight: normal;

        .title{
            padding-top: 200px;;
            text-align: center;
            margin: auto;
        }
    }   
    .form{
        background: black;
        flex:1 1 300px;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        .testa{
            background:white;
            color: black;
            flex:1 1 auto;
            height: 100%;
            padding:10px;
            margin: 5px;
            .pageTitle {
                font-size: 1.5rem;
                padding-bottom: 0;
            }
    
            .subTitle {
                font-size: 0.8rem;
                margin-bottom: 20px;
            }
    
            .formGroup {
                margin-bottom: 30px;
            }
    
        };


        .forgotPasswordForm {
            background-color: white;
            
            align-self: stretch;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            padding: 40px;
            // width: 500px;
            border-radius: 10px;
    
       }
    
    }    
}
